* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background: url('imgs/bg_star.jpg');
}

body.removeBg {
    background: none;
}

#content {
    visibility: hidden;
    opacity: 0;
}

#content.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    background-color: #EBECF0;
    width: 100%;
    padding: 5px;
}

.container {
    background-image: linear-gradient(to bottom right, orange, white, green);
    width: 90%;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    box-shadow: 10px 10px 5px rgb(37, 37, 37);
    border-radius: 7px;
}

.img-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img {
    width: 40%;
    margin-top: 10px;
    border-radius: 10px;
}

.img-div {
    display: flex;
    justify-content: space-between;
}

#caption {
    font-weight: bold;
}

p {
    text-align: justify;
    font-size: 20px;
}

.para {
    background-color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 13px;
}

.quotes {
    margin-top: 12px;
}

.quotes p {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
}

.list {
    list-style: inside;
}

ul li {
    text-align: justify;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;

}

#footer {
    margin-top: 10px;
    bottom: 0;
}

#rocket {
    width: 300px;
    position: absolute;
    bottom: 24px;
    left: 50%;
    transform: translateX(-50%);
    animation: rocket 3s ease-in-out;
    animation-iteration-count: 1;
}

#rocket.hide {
    visibility: hidden;
    opacity: 0;
}

@keyframes rocket {
    0% {
        transform: translate(-50%, 0);
    }

    100% {
        transform: translate(-50%, -100vh);
    }
}